// Import Bootstrap source
@import '../../bower_components/bootstrap/less/bootstrap.less';

// Import your LESS files here
//@import 'variables';    // Will import ./less/variables.less
//@import 'signup';

// grab our google fonts:
@import url(http://fonts.googleapis.com/css?family=Great+Vibes|Open+Sans+Condensed:300,700);

// add our custom fonts from file:
@font-face {
	font-family:caviar-dreams;
	src: url(../fonts/CaviarDreams.ttf);
}

// use semantic html, not boostrap classes. Examples:  http://ruby.bvision.com/blog/please-stop-embedding-bootstrap-classes-in-your-html


// next up, add this gallery:
// https://github.com/blueimp/Bootstrap-Image-Gallery


#container {
	.make-row();
}

#weregettingmarried, 
#RSVP,
#accommodations, 
#registry,
#gallery,
#footer {

	.make-md-column-offset(3);
	.make-md-column(6);

	padding-top:200px;
	padding-bottom:200px;

	h2 {
		text-align:center;
		font-family: 'Great Vibes', cursive;
		font-size:90px;
	}

	p, form {
		text-align:center;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size:20px;

	}

	.actionbuttons {
		
		text-align:center;

		a {
			text-transform:uppercase;
			font-weight:bold;

			color:white;
			background-color:#666;
			padding:5px 10px;
		}
		a:hover {
			text-decoration:none;
			background-color:#555;
		}
	}

	#guestsearchresults {
		display:none;
	}
}

[data-scrollto] {
	cursor: pointer;
}

#bigphoto {
	.make-md-column(12);
	height:800px;
	background-image:url('../images/8bw-top-fullsize.jpg');
	position:relative;

	#logo {
		position: fixed;
		top: 0px;
		left: 20px;
		width: 220px;
		height: 209px;
		font-family: 'Great Vibes',cursive;
		font-size: 50px;
		color: white;
		z-index:100;
		

		#logo-bg {
			background-color:black;
			width: 220px;
			height: 106px;
		}

		#logo-arrow {
			position: absolute;
			bottom: 0px;
			height: 103px;
			width: 220px;
			border-left: 110px solid transparent;
			border-right: 110px solid transparent;
			border-top: 38px solid black;
		}

		.michaela {
			position: absolute;
			top: 3px;
			left: 14px;
			-webkit-transform: rotate(-6deg);
		}
		.amp {
			position: absolute;
			top: 48px;
			left: 35px;
			color: #666;
			font-size: 56px;
		}
		.gavin {
			position: absolute;
			top: 51px;
			left: 84px;
			-webkit-transform: rotate(-6deg);
		}
	}

	#topmenu {

		position:fixed;
		top:5px;
		right:0px;
		z-index: 100;
		.arrowleft {
			position: absolute;
			left: -52px;
			height: 100%;
			width: 52px;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-right: 10px solid rgba(255,255,255,0.6);
		}

		ul {
			margin:0px;
			padding:5px;
			list-style-type: none;
			background-color:rgba(255,255,255,0.6);

			li {
				display:inline;
				text-transform:uppercase;
				font-weight:bold;
				font-family: 'Open Sans Condensed', sans-serif;

				a {
					color:#333;
					
					padding-right: 10px;
				}

				a:hover {
					text-decoration: none;
					color:#666;
				}
			}
		}
	}

	.scrolldown {
		position: absolute;
		right: 25px;
		bottom: 35px;
		
		.text {
			display:block;
			background-color: black;
			padding: 10px 6px 4px;
			font-family: 'caviar-dreams', sans-serif;
			color: white;
			text-align: center;
			line-height: 14px;
			text-transform: uppercase;
		}

		.text:hover {
			text-decoration: none;
		}

		.arrowdown {
			position: absolute;
			bottom: -12px;
			height: 12px;
			width: 100%;
			border-left: 30px solid transparent;
			border-right: 30px solid transparent;
			border-top: 9px solid black;
		}
	}
}

.2up {
	.make-md-column-offset(3);
	.make-md-column(6);
	
	.make-row();

	a {
		.make-md-column(6);

		img {
			width:100%;
		}
	}
}

